<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6QYWCR93J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-E6QYWCR93J');
    </script>
    <title>NCC | SAFI Institute of Advanced Study (Autonomous) </title>
    <link rel="icon" type="image/png" href="../icon.png">
    <link rel="shortcut-icon" href="../icon.png">
    <link rel="shortcut icon" href="../icon.png" type="image/png">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta property="og:title" content="NCC | SAFI Institute of Advanced Study (Autonomous)">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/fontawesome-web/css/all.css">
    <link rel="stylesheet" href="../css/custom/all.css">
    <link rel="stylesheet" href="../css/custom/texts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="../scripts/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        body{
            font-family:'Open Sans', sans-serif;
        }
        .cust-img1{
            width: 100%;
        }
        .c-n{
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 600;
        }
        .c-p{
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
        }
        .link-text{
            font-family: 'Saira', sans-serif;
            color: #30413A;
            font-size: 18px;
        }
    </style>
</head>
  <body>
    <section class="fixed-top all-top" id="top">
        <!--topbar contents here-->
    </section>

    <div class="container nav-adjust">
        &nbsp;
    </div>
    <section class="pages-head-img" style="background: url('../images/pages/ncc.jpg');width: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;"></section>

    <section class="page-name-body">
        <div class="container">
            <p class="page-name">Student's Zone</p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="page-nav">
                        <a href="../index.html">
                            <span class="page-nav-text">Home</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                        <a href="./index.html">
                            <span class="page-nav-text">Student's Zone</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                    <span class="page-nav-active">NCC</span></p>
                </div>
            </div>
           
        </div>
    </section>


    <!--contents-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12  col-md-3 order-2 order-md-1">
                    <div class="side-bar"  id="sidebar">
                        
                    </div>
                    
                </div>

                <div class="col-12 col-md-9 order-1 order-md-2" id="page-content">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="head1">30 Kerala Battalion NCC, SIAS</p>
                            <div class="yellow-line-2"></div>
                            <p class="text1">
                                The National Cadet Corps is an Indian military cadet corps with its Headquarters at New Delhi, Delhi, India. It is open to school and college students on voluntary basis. National Cadet Corps is a Tri-Services Organization, comprising the Army, Navy and Air Force, engaged in grooming the youth of the country into disciplined and patriotic citizens. The National Cadet Corps in India is a voluntary organization which recruits cadets from high schools, colleges and universities all over India. The Cadets are given basic military training in small arms and parades. The officers and cadets have no liability for active military service once they complete their course.
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <img src="../images/faculty/ncc-lukman.jpg" class="cust-img1">
                            <p class="text-center c-n">Lt. Lukmanul Hakeem M.</p>
                            <p class="text-center c-p">Associate NCC Officer</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <p class="head1 mt-3">MOTO</p>
                            <div class="yellow-line-2"></div>
                            <p class="text1">
                                Unity and Discipline (The motto was adopted on 12 Oct 1980 at the 12th Central Advisory Committee meeting)
                            </p>

                            <p class="head1 mt-3">OATH</p>
                            <div class="yellow-line-2"></div>
                            <p class="text1">
                                I do hereby solemnly promise that I will serve my mother land most truly and loyally and that, I will abide by the rules and regulations of the National Cadet Corps. Further under the command and control of my commanding officer I will participate in every camp most sincerely and wholeheartedly
                            </p>

                            <p class="head1 mt-3">Cardinal principles of NCC</p>
                            <div class="yellow-line-2"></div>
                            <ul style="padding-left:15px">
                                <li><p class="text1">Obey with smile</p></li>
                                <li><p class="text1">Be punctual</p></li>
                                <li><p class="text1">Work hard without fuss</p></li>
                                <li><p class="text1">Make no excuses and tell no lies</p></li>
                            </ul>


                            <p class="head1 mt-3">
                                Aims of NCC
                            </p>
                            <div class="yellow-line-2"></div>
                            <ul style="padding-left:15px">
                                <li><p class="text1">
                                    To develop qualities of character, courage, comradeship, discipline, leadership, secular outlook, spirit of adventure and sportsmanship and the ideals of selfless service among the youth to make them useful citizen.
                                </p></li>
                                <li><p class="text1">
                                    To create a human resource of organized, trained and motivated youth to provide leadership in all walks of life including the Armed Forces and be always available for the service of the nation.
                                </p></li>
        
                            </ul>
                        </div>
                    </div>
                    
                    <div v-if="events.length">
                        <p class="head1">Events</p>
                        <div class="yellow-line-2"></div>
                        <div class="row">
                            <div v-for="ev in events" :key="ev.id" class="col-6 col-md-4">
                                <img :src="ev.image.url" class="gallery-img">
                            </div>                       
                        </div>
                    </div>
                    
                    <div v-if="gallery.length" class="mt-5">
                        <p class="head1">Gallery</p>
                        <div class="yellow-line-2"></div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4" v-for="i in gallery" :key="i.id">  
                                <a :href="'../gallery-view.html?'+i.id">
                                    <div style="width: 100%;">
                                        <img :src="i.thumbnail.url" style="width: 100%;">
                                    </div>
                                </a>         
                            </div>                    
                        </div>
                        
                    </div>
                   
                    <div class="row mt-4">
                        <div class="col-12 col-md-5 mt-3">
                            <p class="head1">Reports</p>
                            <div class="yellow-line-2"></div>
                            <a href="./view.html?ncc1" ><p class="link-text"><i class="fas fa-download"></i>&nbsp;&nbsp;&nbsp;Report 2020-2021</p></a>
                             
                            
                        </div>
                        <div class="col-12 col-md-7 mt-3">
                            <iframe width="100%" style="border-radius: 30px;" height="300" src="https://www.youtube.com/embed/1IJ49T5LpdI?start=15" title="NCC SIAS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       
                    </div>
                    <div  class="d-block d-md-none">
                        <hr width="100%" size="2px" color="black">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="page-end-blank"></div>
    <section class="footer-div">
        <div class="container" id="footer">
            <!--footer here-->
        </div>
    </section>

    <section class="branding-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <p class="branding-text text-center">
                        &copy; siasindia All rights reserved. Developed by 
                        <a href="https://fugipie.com" target="_blank" class="brand-company">Fugipie</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="../scripts/over-other.js"></script>
    <script src="./sidebar.js"></script>
    <script src="./ncc-gallery.js"></script>
    <script >
        document.getElementById('nav6').classList.add('nav-text-active')
        document.getElementById('sb5').classList.add('sidebar-item-active')
    </script>
    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    
    </body>
</html>