<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6QYWCR93J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-E6QYWCR93J');
    </script>
    <title>Students' Union | SAFI Institute of Advanced Study (Autonomous) </title>
    <link rel="icon" type="image/png" href="../icon.png">
    <link rel="shortcut-icon" href="../icon.png">
    <link rel="shortcut icon" href="../icon.png" type="image/png">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta property="og:title" content="Students' Union | SAFI Institute of Advanced Study (Autonomous)">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/fontawesome-web/css/all.css">
    <link rel="stylesheet" href="../css/custom/all.css">
    <link rel="stylesheet" href="../css/custom/texts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <script src="../scripts/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        body{
            font-family:'Open Sans', sans-serif;
        }
        .cust-box {
           background-color: #30403a;
           margin-bottom: 30px;
           color: white;
           padding: 0;
           height: 90%;
           border-radius: 20px;
           box-shadow: 0 0 10px 1px grey;

        }
        .t-img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            width: 100%;
        }
        .t-title{
            font-weight: 500;
            font-size: 11px;
            padding: 0;
            margin: 5px 0 50px;
        }
        
        .t-name{
            font-weight: 700;
            font-size: 11px;
            padding: 0;
            margin: 5px 0 5px;
        }
       
    </style>
</head>
  <body>
    <section class="fixed-top all-top" id="top">
        <!--topbar contents here-->
    </section>

    <div class="container nav-adjust">
        &nbsp;
    </div>
    <section class="pages-head-img" style="background: url('../images/pages/students-union.jpg');width: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;"></section>

    <section class="page-name-body">
        <div class="container">
            <p class="page-name">Students' Zone</p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="page-nav">
                        <a href="../index.html">
                            <span class="page-nav-text">Home</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                        <a href="./index.html">
                            <span class="page-nav-text">Student's Zone</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                    <span class="page-nav-active">Students' Union</span></p>
                </div>
            </div>
           
        </div>
    </section>


    <!--contents-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12  col-md-3 order-2 order-md-1">
                    <div class="side-bar"  id="sidebar">
                        
                    </div>
                    
                </div>

                <div class="col-12 col-md-9 order-1 order-md-2" id="page-content">
                    <p class="head1">Students' Union 2023-2024</p>
                    <div class="yellow-line-2"></div>
                    <p class="text1">
                        The office bearers of the Students' Union are elected by the Undergraduate and Postgraduate students by secret ballot from among student nominated candidates for each academic year. The class representatives are elected by their respective classes. Together with the Student Union members they form the Student Council. Under the guidance of the Staff Advisor, the Union organizes a wide range of activities such as Union Inauguration, College Day, Fine Arts Day, Sports Day and other cultural competitions.
                    </p>
                    <p class="head1 mt-5">Union Members</p>
                    <div class="yellow-line-2"></div>
                    <div class="row mt-5">
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/sahad-al-ameen.jpg" class="t-img">
                                <p class="t-name">SAHAD AL AMEEN</p>
                                <p class="t-title">CHAIRPERSON</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/shamal-mohammed.jpg" class="t-img">
                                <p class="t-name">SHAMAL MOHAMMED</p>
                                <p class="t-title">SECRETARY</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/sana.jpg" class="t-img">
                                <p class="t-name">SANA AZAD </p>
                                <p class="t-title">VICE CHAIRPERSON</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/siniya-fathima.jpg" class="t-img">
                                <p class="t-name">SINIYA FATHIMA PK</p>
                                <p class="t-title">JOINT SECRETARY</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/irfan-kv.jpg" class="t-img">
                                <p class="t-name">IRFAN KV </p>
                                <p class="t-title">FINE ARTS</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/saja-mahmood.jpg" class="t-img">
                                <p class="t-name">SAJA MAHMOOD VK</p>
                                <p class="t-title">STUDENT EDITOR</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/mubashir.jpg" class="t-img">
                                <p class="t-name">MUBASHIR ALUNGAL</p>
                                <p class="t-title">GENERAL CAPTAIN</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/mohammed-ansaf.jpg" class="t-img">
                                <p class="t-name">MUHAMMED ANSAF KM</p>
                                <p class="t-title">UUC</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-sm-6 col-md-4  text-center">
                            <div class="cust-box">
                                <img src="../images/stdunion/ansaf.jpg" class="t-img">
                                <p class="t-name">ANSAF K</p>
                                <p class="t-title">UUC</p> 
                                                                                  
                            </div>   
                        </div>
                        
                        
                        
                        
                    </div>

                    <div class="row mt-3" v-if="events.length">
                        <div class="col-12">
                            <p class="head1">Gallery</p>
                            <div class="yellow-line-2"></div>
                            <div class="row">
                                <div v-for="ev in events" :key="ev.id" class="col-6 col-md-4">
                                    <img :src="ev.image.url" class="gallery-img">
                                </div>                     
                            </div>
                        </div>                      
                    </div>
                    <div style="background-color: #fff;" class="d-block d-md-none">
                        <hr width="100%" size="2px" color="black">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div style="height: 25px;background-color: #fff;"></div>
    

    <section class="bg-cust-dark">
        <div class="container" id="footer">
            <!--footer here-->          
        </div>
    </section>
    <section style="background-color: #e5e5e5">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <p class="bottom-text text-center">Copyrights &copy; 2022 siasindia All rights reserved. Developed by <a href="https://fugipie.com"  target="_blank" style="font-weight: 700;color: black;">Fugipie</a></p>
            </div>
            
        </div>
    </div>
    </section>

    <script src="../scripts/over-other.js"></script>
    <script src="./sidebar.js"></script>
    <script src="./union-gallery.js"></script>
    <script >
        document.getElementById('nav6').classList.add('nav-text-active')
        document.getElementById('sb10').classList.add('sidebar-item-active')
    </script>
    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    
    </body>
</html>