<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6QYWCR93J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-E6QYWCR93J');
    </script>
    <title>Woman Development Cell | SAFI Institute of Advanced Study (Autonomous) </title>
    <link rel="icon" type="image/png" href="../icon.png">
    <link rel="shortcut-icon" href="../icon.png">
    <link rel="shortcut icon" href="../icon.png" type="image/png">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta property="og:title" content="Woman Development Cell | SAFI Institute of Advanced Study (Autonomous)">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/fontawesome-web/css/all.css">
    <link rel="stylesheet" href="../css/custom/all.css">
    <link rel="stylesheet" href="../css/custom/texts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <script src="../scripts/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        body{
            font-family:'Open Sans', sans-serif;
        }
        .cust-box {
           background-color: #14263A;
           margin-bottom: 30px;
           color: white;
           padding: 0;
           height: 90%;
           border-radius: 20px;
           box-shadow: 0 0 10px 1px grey;

        }
        .t-img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            width: 100%;
        }
        .t-title{
            font-weight: 500;
            font-size: 16px;
            padding: 0;
            margin: 5px 0 50px;
        }
        
        .t-name{
            font-weight: 600;
            font-size: 18px;
            padding: 0;
            margin: 5px 0 5px;
        }
        .link-text{
            font-family: 'Saira', sans-serif;
            color: #30413A;
            font-size: 18px;
        }
    </style>
</head>
  <body>
    <section class="fixed-top all-top" id="top">
        <!--topbar contents here-->
    </section>

    <div class="container nav-adjust">
        &nbsp;
    </div>
    <section class="pages-head-img" style="background: url('../images/pages/WDC.jpg');width: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;"></section>

    <section class="page-name-body">
        <div class="container">
            <p class="page-name">Student's Zone</p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="page-nav">
                        <a href="../index.html">
                            <span class="page-nav-text">Home</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                        <a href="./index.html">
                            <span class="page-nav-text">Student's Zone</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                    <span class="page-nav-active">Woman Development Cell (WDC)</span></p>
                </div>
            </div>
           
        </div>
    </section>


    <!--contents-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12  col-md-3 order-2 order-md-1">
                    <div class="side-bar"  id="sidebar">
                        
                    </div>
                    
                </div>

                <div class="col-12 col-md-9 order-1 order-md-2" id="page-content">
                    <p class="head1">Women Development Cell(WDC), SIAS</p>
                    <div class="yellow-line-2"></div>
                    <p class="text1">
                        The principle of gender equality is enshrined in the Indian Constitution in its Preamble, Fundamental Rights, Fundamental Duties and Directive Principles. The Constitution not only grants equality to women, but also empowers the State to adopt measures of positive discrimination in favour of women.
                    </p>
                    <p class="text1">
                        SAFI Institute is effectively working towards achieving broad these objectives laid down by the Ministry of Women and Child Development, Government of India. Calicut University has a responsibility towards empowerment of women not only through their appropriate education but also skill upgradation for a better life. In fact, at the same time looking at their safety and security, the Women Development Cell (WDC) has been established. The mandate primarily focuses on development and also addresses need based solutions to overcome obstacles in the same, if any. This would be achieved through participation of the students in seminars, workshops, and training programmes.
                    </p>
                    <div class="row mt-4">
                        <div class="col-12 col-md-6 offset-md-3 mb-5">
                            <a href="./view.html?wdc-actionplan2023"><button class="btn btn-block  btn-primary">Gender Sensitization Action Plan</button></a>
                        </div>
                        <div class="col-12 col-md-4 text-center ">
                            <div class="cust-box">
                                <img src="../images/faculty/MB02.jpg" class="t-img">
                                <p class="t-name">Dr. Asha B. </p>
                                <p class="t-title">Convenor</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <div class="cust-box">
                                <img src="../images/faculty/BT07.jpg" class="t-img">
                                <p class="t-name">Ms. Nafila P.P.</p>
                                <p class="t-title">Member</p> 
                                                                                  
                            </div>   
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <div class="cust-box">
                                <img src="../images/faculty/MB05.jpg" class="t-img">
                                <p class="t-name">Dr. Smitha K.V.</p>
                                <p class="t-title">Member</p> 
                                                                                  
                            </div>   
                        </div>
                    </div>

                    <div class="row mt-3" v-if="images.length">
                        <div class="col-12">
                            <p class="head1">Gallery</p>
                            <div class="yellow-line-2"></div>
                            <div class="row">
                                <div v-for="i in images" :key="i.id" class="col-6 col-md-4">
                                    <img :src="i.src" class="gallery-img">
                                </div>                       
                            </div>
                        </div>                      
                    </div>
                    <div  class="d-block d-md-none">
                        <hr width="100%" size="2px" color="black">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="page-end-blank"></div>
    <section class="footer-div">
        <div class="container" id="footer">
            <!--footer here-->
        </div>
    </section>

    <section class="branding-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <p class="branding-text text-center">
                        &copy; siasindia All rights reserved. Developed by 
                        <a href="https://fugipie.com" target="_blank" class="brand-company">Fugipie</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="../scripts/over-other.js"></script>
    <script src="./sidebar.js"></script>
    <script src="./wdc-gallery.js"></script>
    <script >
        document.getElementById('nav6').classList.add('nav-text-active')
        document.getElementById('sb8').classList.add('sidebar-item-active')
    </script>
    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    
    </body>
</html>