.gallery-img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}
.bg-cust-dark{
    background-color: #efefef;
    padding: 30px 0;
}


.yellow-line{
    margin: 6px 0 10px;
    background-color: #C5A448;
    border-radius: 30px;
    width: 100px;
    height: 4px;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: #FEFAEF;
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}

.all-top{
    width: 100%;
    height: 60px;
}
.topbar{
    width: 100%;
    background-color: #16433E;   
    padding: 3px 0;
    margin: 0;
}

.topbar-text{
    font-family: 'Saira', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.navbar-light-bg{
    width: 100%;
    background-color: #FEFAEF;
}
.navbar-custom{
    width: 100%;
    background-color: #FEFAEF;
    padding: 10px 0;

}

.custom-navbar-logo{
    width: 300px;
}

.nav-text{
    font-family: 'Saira', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 15px;
    padding: 4px 10px;
    border: none;
}

.nav-text-active{
    font-weight: 600;
    color: #16433E;
}
.nav-text:hover{
    color: #16433E;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; 
}

#nav-button{
    color: black;
}


.nav-adjust{
    width: 100%;
    background-color: transparent;
    height: 108px;
}

.footer-head{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    
}

.footer-text{
    color: rgb(215, 214, 214);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding-bottom: 6px;
}



.page-name-body{
    width: 100%;
    animation: bganimation 5s infinite;
    transition: ease-in-out;
}

.page-name{
    font-family: 'Saira', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
}

.page-nav{
    font-family: 'Saira', sans-serif;
    margin: 0 0 15px;
    padding: 6px 0 10px;
    font-weight: 600;
    font-size: 16px;
}

.page-nav-text{
    color: #333;
}
.page-nav-active{
    color: #114a2a;
}

.side-bar{
    padding: 0;
    background-color: #fff;
    height: 100%;
}

.sidebar-item{
    color: black;
    font-size: 13px;
    font-weight: 600;
    background-color: transparent;
    padding: 6px 6px 6px 6%;
}
.sidebar-item-active{
    /* background: linear-gradient(to right,  #FED100 4%,#FED100 4%,#0b9247 4%,#0b9247 100%); */
    background-color: #a88628;
    color: white;
}
.sidebar-item:hover{
    background-color: #c2b07c;
    color: white;
}

.acc-img1{
    margin-bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.sidebar-text{
    color: #000;
    font-family: 'Saira', sans-serif;
    padding: 0;
    margin: 0;
}
.sidebar-item:hover .sidebar-text{
    color: #fff;
}
.sidebar-item-active .sidebar-text{
    color: #fff;
}

.pages-head-img{
    height: 300px;
}
.pages-head-img-large{
    height: 400px;
}
.float-button{
    position: fixed;
    right: 0;
    top: 150px;
    background-color: #FED100;
    padding: 30px 20px 30px 20px;
    z-index: 10;

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

.float-button-text{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    
}
.dept-event-page-head{
    font-weight: 700;
    font-size: 20px;
    color: black;
    padding: 0;
    margin: 0;
}

.dept-event-page-text{
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 10px 0 20px;
    color:#556776;
}
.footer-naac-grade-img{
    margin: 0;
    width:100%
}

.page-end-blank{
    height: 50px;
    background-color: #FEFAEF;
}
@keyframes bganimation {
    0% {background-color: #16433E;}
    50% {background-color: #16432c}
    100% {background-color: #16433E;}

}
@media only screen and (max-width: 767px){
    .footer-naac-grade-img{
        margin: 0 20%;
        width:60%
    }
    .nav-adjust{
        height: 120px;
    }
}

@media only screen and (max-width: 576px) {
    .float-button{
        padding: 10px 10px 10px 10px;
    }
    .custom-navbar-logo{
        width: 50%;
    }
    .custom-navbar-logo:hover{
        width: 50%;
    }
    .topbar{
        padding-bottom: 5px;
    }
    .topbar-text{
        font-size: 10px;
    }
    .navbar-custom{
        padding: 10px 0;
    }
    .nav-text{
        font-weight: 500;
        font-size: 14px;
    }
    .nav-adjust{
        height: 85px;
    }
    .side-bar{
        height: 100%;
        
    }
    .page-name{
        font-family: 'Saira', sans-serif;
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 8px 0;
        margin: 0;
    }
    
    .page-nav{
        font-family: 'Saira', sans-serif;
        margin: 0 0 15px;
        padding: 6px 0 10px;
        font-weight: 600;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .pages-head-img-large,.pages-head-img{
        height: 150px;
    }
    .dept-event-page-head{
        font-weight: 700;
        font-size: 12px;
        color: black;
        padding: 0;
        margin: 0;
    }
    
    .dept-event-page-text{
        font-size: 10px;
        font-weight: 400;
        padding: 0;
        margin: 10px 0 20px;
    }
    .footer-naac-grade-img{
        margin: 0;
        width:100%
    }
}

#admission-capsule{
    z-index: 3;
    position:fixed;
    top:30%;
    right:0;
    padding: 15px 10px 15px 20px;
    background-color:#170496;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#admission-capsule span{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight:600;
    font-size: 15px;
    color:#fff;
    line-height: 100%;
}


#admission-capsule:hover{
    color: #fff;
    transform: scale(1.02,1.02);
    box-shadow: 0 0 1px 1px grey; 
}
@media only screen and (max-width: 576px) {
    #admission-capsule{
        padding: 12px 8px 12px 15px;
        font-size: 13px;
    }
}

.footer-div{
   background-color: #091b19;
    padding: 30px 0;
}

.resplayer-footer {
    width: 90%;
    height: 0;
    position: relative;
    padding-bottom: 60%;
}

.resplayer-footer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
.footer-contact-text {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 0;
    margin: 10px 0;
}
.footer-socials{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-social-item{
    margin: 0 10px;
}


.yellow-line-footer{
    margin: 6px 0 10px;
    background-color: #efdc5c;
    border-radius: 30px;
    width: 15%;
    height: 4px;
}

@media only screen and (max-width: 576px) {
    .resplayer-footer {
        width: 100%;
    }
    .footer-social-item{
        margin: 0 4px;
    }
    .footer-socials{
        width: 100%;
        justify-content: space-between;
    }
    .footer-contact-text {
        font-size: 12px;
    }
}

.branding-bg{
    background-color: #05100f;
}

.branding-text{
    font-size: 15px;
    font-weight: 500;
    color: #d9d9d9;
    margin: 0;
    padding: 6px 0;
}
.brand-company{
    font-weight: 700;
    animation: fadeColor 5s ease-in-out infinite;
}

@keyframes fadeColor {
  0%   { color: #ffffff; }
  50%  { color: #f9fec7; }
  100% { color: #ffffff; }
}