.head1{
    color: #0d2724;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
}

.text1{
    margin: 10px 0 0 0;
    color: #505050;
    font-size: 16px;
    text-align: justify;
}

.text2{
    margin: 5px 0 0 0;
    color: #505050;
    font-size: 16px;
    text-align: justify;
}

.yellow-line-2{
    margin: 2px 0 10px;
    background-color: #C5A448;
    border-radius: 30px;
    width: 100px;
    height: 3px;
}

@media only screen and (max-width: 576px) {
    .head1{
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    .text1{
        margin: 5px 0 0 0;
        font-size: 14px;
        text-align: justify;
    }
}