<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6QYWCR93J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-E6QYWCR93J');
    </script>
    <title>Workshops and Conferences| SAFI Institute of Advanced Study (Autonomous) </title>
    <link rel="icon" type="image/png" href="../icon.png">
    <link rel="shortcut-icon" href="../icon.png">
    <link rel="shortcut icon" href="../icon.png" type="image/png">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta property="og:title" content="Workshops and Conferences| SAFI Institute of Advanced Study (Autonomous)">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" href="../css/fontawesome-web/css/all.css">
    <link rel="stylesheet" href="../css/custom/all.css">
    <link rel="stylesheet" href="../css/custom/texts.css">
    <link rel="stylesheet" href="../css/custom/depatment.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="../scripts/vue.js"></script>
    <style>
        body{
            font-family:'Open Sans', sans-serif;
        }
        
    </style>
</head>
  <body>
    <section class="fixed-top all-top" id="top">
        <!--topbar contents here-->
    </section>

    <div class="container nav-adjust">
        &nbsp;
    </div>

    <section class="page-name-body">
        <div class="container">
            <p class="page-name">Research</p>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="page-nav">
                        <a href="../index.html">
                            <span class="page-nav-text">Home</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                        <a href="./index.html">
                            <span class="page-nav-text">Research</span>
                        </a>
                        <span class="page-nav-text">&nbsp;&nbsp;>&nbsp;&nbsp;</span>
                    <span class="page-nav-active">Workshops and Conferences</span></p>
                </div>
            </div>
           
        </div>
    </section>


    <!--contents-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12  col-md-3 order-2 order-md-1">
                    <div class="side-bar"  id="sidebar">
                        <div class="sidebar-item ">
                            <a href="./index.html"><p class="sidebar-text">SAFI DIRECTORATE OF RESEARCH </p></a>
                        </div>
                        <div class="sidebar-item ">
                            <a href="./LUC-SAFI.html"><p class="sidebar-text">LUC-SAFI RESEARCH CENTRE</p></a>
                        </div>
                        <div class="sidebar-item ">
                            <a href="./research-policy.html"><p class="sidebar-text">RESEARCH POLICY</p></a>
                        </div>
                        <div class="sidebar-item ">
                            <a href="./publication-division.html"><p class="sidebar-text">PUBLICATION DIVISION</p></a>
                        </div>
                        <div class="sidebar-item ">
                            <a href="./patents-and-publications.html"><p class="sidebar-text">PATENTS AND PUBLICATIONS</p></a>
                        </div>
                        <div class="sidebar-item sidebar-item-active">
                            <a href="./workshops-conferences.html"><p class="sidebar-text">WORKSHOPS & CONFERENCES</p></a>
                        </div>
                      
                        <div class="sidebar-item ">
                            <a href="./linkages-mous.html"><p class="sidebar-text">LINKAGES AND MOU'S</p></a>
                        </div>
                        <div class="sidebar-item ">
                            <a href="./iic.html" class="sidebar-text">INSTITUTION'S INNOVATION COUNCIL</p></a>
                        </div>
                        <div class="sidebar-item ">
                            <a href="./iic.html"><p class="sidebar-text">INSTITUTION'S INNOVATION COUNCIL</p></a>
                        </div>
                    </div>
                    
                </div>

                <div class="col-12 col-md-9 order-1 order-md-2" id="page-content">
                    <div class="table-responsive">
                        <div style="padding: 10px;background-color: #091B19;margin-bottom: 10px;" class="text-center">
                            <span style="color: #fff;font-weight: 500;">Year&nbsp; : &nbsp;</span>
                            <select id="select-c" v-model="year" v-on:change="changeData">
                                <option value="all" class="option-c" selected>ALL</option>
                                <option value="2024" class="option-c">2023-2024</option>
                                <option value="2023" class="option-c">2022-2023</option>
                                <option value="2021" class="option-c">2020-2021</option>
                                <option value="2020" class="option-c">2019-2020</option>
                                <option value="2019" class="option-c">2018-2019</option>
                                <option value="2018" class="option-c">2017-2018</option>
                                <option value="2017" class="option-c">2016-2017</option>
                            </select>
                        </div>
                        <table width="100%" border="1px solid black" class="table">
                            <tr  class="text-center table-head">
                                <th style="padding: 5px 0;">Name of the Programme<p style="height: 1px;">&nbsp</p></th>
                                <th style="padding: 5px 0;">PDF<p style="height: 1px;">&nbsp</p></th>
                                

                            </tr>
                            <tr v-for="data in tableData" class="table-row" :key="data.id">
                                <th class="t-text">{{data.name}}</th>
                                <th class="t-text text-center"><a :href="data.link" target="_blank"><i class="far fa-file-pdf" style="color: #000;font-size:30px"></i></a></th>
                                
                            </tr>
                        </table>
                    </div>
                
                    <div  class="d-block d-md-none">
                        <hr width="100%" size="2px" color="black">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="page-end-blank"></div>
    <section class="footer-div">
        <div class="container" id="footer">
            <!--footer here-->
        </div>
    </section>

    <section class="branding-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <p class="branding-text text-center">
                        &copy; siasindia All rights reserved. Developed by 
                        <a href="https://fugipie.com" target="_blank" class="brand-company">Fugipie</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="./workshop-conferences.js"></script>
    <script src="../scripts/over-other.js"></script>
    <script >
        document.getElementById('nav5').classList.add('nav-text-active')
    </script>
    <script src="../js/jquery.slim.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    
    </body>
</html>